#CSON
author: "vol4ok <admin@vol4ok.net>"
name: "coffee.nbplug"
description: "coffee-script compile nBuild plugin"
version: "0.0.2"
repository: 
  url: "git://github.com/vol4ok/coffee.nbplug.git"
engines: 
  node: "~0.6.11"
main: "coffee.nbplug"
dependencies:
  underscore: ">=1.2.0"
  "coffee-script": ">=1.2.0"
  "fs.walker": "git://github.com/vol4ok/fs.walker.git"
  "path.filter": "git://github.com/vol4ok/path.filter.git"
  "fs.utils": "git://github.com/vol4ok/fs.utils.git"
devDependencies:
  colors: ">=0.5"